<div class='page-header' data-parallax="true">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="brand" style="color: white">
            <h1>Self Hosted Assistant.</h1>
            <h2>Own what's your's.</h2>
          </div>
        </div>
        <div class="col-md-5">
            <div class="brand" style="color: white">
              <img src="assets/landing-scheduler.png" style="width: 60%"/>
              <br/>
              <b>Downloads</b>
              <a href="https://play.google.com/store?hl=en_US" style="color: black" target="_"><img src="assets/playstoreIcon.png"/></a>
            </div>
        </div>
      </div>
    </div>
</div>